.area-clickable {cursor:pointer;}

.border-radius-0 {border-radius: 0;}
.border-radius-default {border-radius: @border-radius-default;}
.no-border-radius-top-left {border-top-left-radius: 0;}
.no-border-radius-top-right {border-top-right-radius: 0;}
.no-border-radius-bottom-left {border-bottom-left-radius: 0;}
.no-border-radius-bottom-right {border-bottom-right-radius: 0;}

// cover container background with image
.bg-cover {background-repeat: no-repeat;background-position: center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

.box-shadow-1 {.box-shadow-helper(1);}
.box-shadow-2 {.box-shadow-helper(2);}
.box-shadow-3 {.box-shadow-helper(3);}
.box-shadow-4 {.box-shadow-helper(4);}
.box-shadow-5 {.box-shadow-helper(5);}

.box-shadow-helper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}